<div class="eqLogic-widget eqLogic" style="width : 250px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#;" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="mobile" >
  <style  type="text/css">
		.mpowerTable_#uid# {
			display: table;
			width: 100%;
			height: 350px;
		}
		.mpowerRows_#uid# {
			display: table-row;
		}
		.mpower_state_#uid# {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			width: 50%;
		}
		.mpower_Icon_#uid# {
			width: 75px;
			height: 75px;
		}
		.mpower_Infos_#uid# {
			display: table-cell;
			vertical-align: top;
			text-align: center;
			width: 50%;
		}
		.mpower_Data_#uid# {
			font-size: 10px;
			letter-spacing: 0.4px;
		}
	</style>
  <span class="statusCmd" style="position: absolute;margin-left: 3px;width : 30px;z-index: 100;"></span>
  <i class='fa fa-refresh pull-right cursor cmd refresh tooltips' data-cmd_id="#refresh_id#" title="Rafraîchir" style="margin-top: 3px;margin-right: 3px;"></i>
  <i class="icon jeedom-prise allon cursor tooltips" title="Allumer tous" style="position : absolute;bottom: 3px;left: 3px;z-index: 500;"></i>
  <i class="icon jeedom-prise alloff cursor tooltips" title="Eteindre tous" style="position : absolute;bottom: 3px;left: 18px;z-index: 500;color:grey;"></i>
  <i class="fa fa-retweet cursor tooltips changecmd noRefresh" title="Changer informations" style="position : absolute;bottom: 3px;right: 3px;z-index: 1030;"></i>
  <center style="#hideEqLogicName#">#name_display#  <span style="font-size: 0.85em;position: relative;top:-2px;">#object_name#</span></center>

    <span class="cmd cmd-widget noRefresh" data-cmd_id="#on1_id#" style="display:none;"></span>
    <span class="cmd cmd-widget noRefresh" data-cmd_id="#on2_id#" style="display:none;"></span>
    <span class="cmd cmd-widget noRefresh" data-cmd_id="#on3_id#" style="display:none;"></span>
    <span class="cmd cmd-widget noRefresh" data-cmd_id="#on4_id#" style="display:none;"></span>
    <span class="cmd cmd-widget noRefresh" data-cmd_id="#on5_id#" style="display:none;"></span>
    <span class="cmd cmd-widget noRefresh" data-cmd_id="#on6_id#" style="display:none;"></span>
    <span class="cmd cmd-widget noRefresh" data-cmd_id="#off1_id#" style="display:none;"></span>
    <span class="cmd cmd-widget noRefresh" data-cmd_id="#off2_id#" style="display:none;"></span>
    <span class="cmd cmd-widget noRefresh" data-cmd_id="#off3_id#" style="display:none;"></span>
    <span class="cmd cmd-widget noRefresh" data-cmd_id="#off4_id#" style="display:none;"></span>
    <span class="cmd cmd-widget noRefresh" data-cmd_id="#off5_id#" style="display:none;"></span>
    <span class="cmd cmd-widget noRefresh" data-cmd_id="#off6_id#" style="display:none;"></span>
    <span class="cmd cmd-widget noRefresh" data-cmd_id="#onall_id#" style="display:none;"></span>
    <span class="cmd cmd-widget noRefresh" data-cmd_id="#offall_id#" style="display:none;"></span>

<div class="tooltips mpowerTable_#uid#">
	<div class="mpowerRows_#uid#">
		<div class="mpower_state_#uid#"><i class="icon jeedom-prise etat1 cursor tooltips" title="" style="font-size: 4em;margin-left: 5px;color:grey"></i></div>
		<div class="mpower_state_#uid#"><i class="icon jeedom-prise etat2 cursor tooltips" title="" style="font-size: 4em;margin-left: 5px;color:grey"></i></div>
	</div>
    
    <div class="mpowerRows_#uid# powerinfos">
        <div class="mpower_Infos_#uid#"><div class="mpower_Data_#uid# power1_#uid#" title="Puissance 1 (#power1_collectDate#)">#power1# W</div></div>
        <div class="mpower_Infos_#uid#"><div class="mpower_Data_#uid# power2_#uid#" title="Puissance 2 (#power2_collectDate#)">#power2# W</div></div>
    </div>
    <div class="mpowerRows_#uid# energyinfos">
        <div class="mpower_Infos_#uid#"><div class="mpower_Data_#uid# energy1_#uid#" title="Consommation 1 (#energy1_collectDate#)">#energy1# kWh</div></div>
        <div class="mpower_Infos_#uid#"><div class="mpower_Data_#uid# energy2_#uid#" title="Consommation 2 (#energy2_collectDate#)">#energy2# kWh</div></div>
    </div>
    
    <div class="mpowerRows_#uid# currentinfos" style="display : none;">
        <div class="mpower_Infos_#uid#"><div class="mpower_Data_#uid# current1_#uid#" title="Courant/Facteur de puissance 1 (#current1_collectDate#)">#current1# A (#powerfactor1#)</div></div>
        <div class="mpower_Infos_#uid#"><div class="mpower_Data_#uid# current2_#uid#" title="Courant/Facteur de puissance 2 (#current2_collectDate#)">#current2# A (#powerfactor2#)</div></div>
    </div>
    <div class="mpowerRows_#uid# voltageinfos" style="display : none;">
        <div class="mpower_Infos_#uid#"><div class="mpower_Data_#uid# voltage1_#uid#" title="Tension 1 (#voltage1_collectDate#)">#voltage1# V</div></div>
        <div class="mpower_Infos_#uid#"><div class="mpower_Data_#uid# voltage2_#uid#" title="Tension 2 (#voltage2_collectDate#)">#voltage2# V</div></div>
    </div>
    
    <div class="mpowerRows_#uid#">
		<div class="mpower_state_#uid#"><i class="icon jeedom-prise etat3 cursor tooltips" title="" style="font-size: 4em;margin-left: 5px;color:grey"></i></div>
        <div class="mpower_state_#uid#"><i class="icon jeedom-prise etat4 cursor tooltips" title="" style="font-size: 4em;margin-left: 5px;color:grey"></i></div>
	</div>
    
    <div class="mpowerRows_#uid# powerinfos">
        <div class="mpower_Infos_#uid#"><div class="mpower_Data_#uid# power3_#uid#" title="Puissance 3 (#power3_collectDate#)">#power3# W</div></div>
        <div class="mpower_Infos_#uid#"><div class="mpower_Data_#uid# power4_#uid#" title="Puissance 4 (#power4_collectDate#)">#power4# W</div></div>
    </div>
    <div class="mpowerRows_#uid# energyinfos">
            <div class="mpower_Infos_#uid#"><div class="mpower_Data_#uid# energy3_#uid#" title="Consommation 3 (#energy3_collectDate#)">#energy3# kWh</div></div>
            <div class="mpower_Infos_#uid#"><div class="mpower_Data_#uid# energy4_#uid#" title="Consommation 4 (#energy4_collectDate#)">#energy4# kWh</div></div>
    </div>
    
    <div class="mpowerRows_#uid# currentinfos" style="display : none;">
        <div class="mpower_Infos_#uid#"><div class="mpower_Data_#uid# current3_#uid#" title="Courant/Facteur de puissance 3 (#current3_collectDate#)">#current3# A (#powerfactor3#)</div></div>
        <div class="mpower_Infos_#uid#"><div class="mpower_Data_#uid# current4_#uid#" title="Courant/Facteur de puissance 4 (#current4_collectDate#)">#current4# A (#powerfactor4#)</div></div>
    </div>
    <div class="mpowerRows_#uid# voltageinfos" style="display : none;">
        <div class="mpower_Infos_#uid#"><div class="mpower_Data_#uid# voltage3_#uid#" title="Tension 3 (#voltage3_collectDate#)">#voltage3# V</div></div>
        <div class="mpower_Infos_#uid#"><div class="mpower_Data_#uid# voltage4_#uid#" title="Tension 4 (#voltage4_collectDate#)">#voltage4# V</div></div>
    </div>
    
    <div class="mpowerRows_#uid#">
        <div class="mpower_state_#uid#"><i class="icon jeedom-prise etat5 cursor tooltips" title="" style="font-size: 4em;margin-left: 5px;color:grey"></i></div>
		<div class="mpower_state_#uid#"><i class="icon jeedom-prise etat6 cursor tooltips" title="" style="font-size: 4em;margin-left: 5px;color:grey"></i></div>
	</div>
    <div class="mpowerRows_#uid# powerinfos">
        <div class="mpower_Infos_#uid#"><div class="mpower_Data_#uid# power5_#uid#" title="Puissance 5 (#power5_collectDate#)">#power5# W</div></div>
        <div class="mpower_Infos_#uid#"><div class="mpower_Data_#uid# power6_#uid#" title="Puissance 6 (#power6_collectDate#)">#power6# W</div></div>
	</div>
    <div class="mpowerRows_#uid# energyinfos">
        <div class="mpower_Infos_#uid#"><div class="mpower_Data_#uid# energy5_#uid#" title="Consommation 5 (#energy5_collectDate#)">#energy5# kWh</div></div>
        <div class="mpower_Infos_#uid#"><div class="mpower_Data_#uid# energy6_#uid#" title="Consommation 6 (#energy6_collectDate#)">#energy6# kWh</div></div>
	</div>
    
    <div class="mpowerRows_#uid# currentinfos" style="display : none;">
        <div class="mpower_Infos_#uid#"><div class="mpower_Data_#uid# current5_#uid#" title="Courant/Facteur de puissance 5 (#current5_collectDate#)">#current5# A (#powerfactor5#)</div></div>
        <div class="mpower_Infos_#uid#"><div class="mpower_Data_#uid# current6_#uid#" title="Courant/Facteur de puissance 6 (#current6_collectDate#)">#current6# A (#powerfactor6#)</div></div>
	</div>
    <div class="mpowerRows_#uid# voltageinfos" style="display : none;">
        <div class="mpower_Infos_#uid#"><div class="mpower_Data_#uid# voltage5_#uid#" title="Tension 5 (#voltage5_collectDate#)">#voltage5# V</div></div>
        <div class="mpower_Infos_#uid#"><div class="mpower_Data_#uid# voltage6_#uid#" title="Tension 6 (#voltage6_collectDate#)">#voltage6# V</div></div>
	</div>
</div>

 <script>
  $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
    jeedom.cmd.execute({id: '#refresh_id#'});
  });
  if ('#etat1#' == '1') {
        $('.eqLogic[data-eqLogic_uid=#uid#] .etat1').css('color', 'white');
  }
  if ('#etat2#' == '1') {
        $('.eqLogic[data-eqLogic_uid=#uid#] .etat2').css('color', 'white');
  }
  if ('#etat3#' == '1') {
        $('.eqLogic[data-eqLogic_uid=#uid#] .etat3').css('color', 'white');
  }
  if ('#etat4#' == '1') {
        $('.eqLogic[data-eqLogic_uid=#uid#] .etat4').css('color', 'white');
  }
  if ('#etat5#' == '1') {
        $('.eqLogic[data-eqLogic_uid=#uid#] .etat5').css('color', 'white');
  }
  if ('#etat6#' == '1') {
        $('.eqLogic[data-eqLogic_uid=#uid#] .etat6').css('color', 'white');
  }
  $('.eqLogic[data-eqLogic_uid=#uid#] .etat1').on('click', function() {
        if('#etat1#' == '1'){
			jeedom.cmd.execute({id: '#off1_id#'});
		}else{
			jeedom.cmd.execute({id: '#on1_id#'});
		}
        });
  $('.eqLogic[data-eqLogic_uid=#uid#] .etat2').on('click', function() {
        if('#etat2#' == '1'){
			jeedom.cmd.execute({id: '#off2_id#'});
		}else{
			jeedom.cmd.execute({id: '#on2_id#'});
		}
        });
		
	$('.eqLogic[data-eqLogic_uid=#uid#] .allon').on('click', function() {
        jeedom.cmd.execute({id: '#onall_id#'});
		});

	$('.eqLogic[data-eqLogic_uid=#uid#] .alloff').on('click', function() {
        jeedom.cmd.execute({id: '#offall_id#'});
		});
		
  $('.eqLogic[data-eqLogic_uid=#uid#] .etat3').on('click', function() {
        if('#etat3#' == '1'){
			jeedom.cmd.execute({id: '#off3_id#'});
		}else{
			jeedom.cmd.execute({id: '#on3_id#'});
		}
        });
  $('.eqLogic[data-eqLogic_uid=#uid#] .etat4').on('click', function() {
        if('#etat4#' == '1'){
			jeedom.cmd.execute({id: '#off4_id#'});
		}else{
			jeedom.cmd.execute({id: '#on4_id#'});
		}
        });
  $('.eqLogic[data-eqLogic_uid=#uid#] .etat5').on('click', function() {
        if('#etat5#' == '1'){
			jeedom.cmd.execute({id: '#off5_id#'});
		}else{
			jeedom.cmd.execute({id: '#on5_id#'});
		}
        });
  $('.eqLogic[data-eqLogic_uid=#uid#] .etat6').on('click', function() {
        if('#etat6#' == '1'){
			jeedom.cmd.execute({id: '#off6_id#'});
		}else{
			jeedom.cmd.execute({id: '#on6_id#'});
		}
    });
   $('.eqLogic[data-eqLogic_uid=#uid#] .changecmd').on('click', function () {
		$('.eqLogic[data-eqLogic_uid=#uid#] .voltageinfos').toggle();
		$('.eqLogic[data-eqLogic_uid=#uid#] .currentinfos').toggle();
		$('.eqLogic[data-eqLogic_uid=#uid#] .energyinfos').toggle();
		$('.eqLogic[data-eqLogic_uid=#uid#] .powerinfos').toggle();
	});
</script>
</div>
